<div class="navbar bg-base-100">
  <div class="navbar-start">
    <app-mobile-nav></app-mobile-nav>
    <a class="btn btn-ghost text-2xl text-orange-700">Beubixel</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
        <li><a>Javascript/Typecript</a></li>
        <li><a>Python</a></li>
        <li><a>Kotlin/Java</a></li>
        <li><a>PHP</a></li>
        <li><a>Android</a></li>
        <li><a>React</a></li>
        <li><a>React Native</a></li>
        <li><a>NextJs</a></li>
        <li><a>About</a></li>
    </ul>
  </div>
</div>
